<!DOCTYPE html>
<html lang="pt">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }} " rel="stylesheet" />
         <title>DSIAC - Consultoria e Soluções Digitais </title>
    </head>
    <body class="d-flex flex-column" id="page-top">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="index.html">DSIAC DATA-Consultoria e Soluções Digitais </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('sobre') }}">Sobre</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownSoluções" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Soluções</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownSoluções">
                                    <li><a class="dropdown-item" href="{{ url_for('solucao_item1') }}">Consultoria em Analytics e ML</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('solucao_item2') }}">Integração, Analise e Dashboard</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('solucao_item3') }}">Ciência de Dados e ML</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('solucao_item4') }}">Modelos Preditivos </a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownSegmentos" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Segmentos</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownSegmentos">
                                    <li><a class="dropdown-item" href="{{ url_for('segmentos_item1') }}">Varejo</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('segmentos_item2') }}">Educação</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('segmentos_item3') }}">Saúde</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('segmentos_item4') }}">Telecom</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('segmentos_item5') }}">Governo</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('tecnologias') }}">Tecnologias</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('get_contato') }}">Contato</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Algumas tecnologias de ponta que usamos</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Com a combinação certa de recursos tecnologicos, habilidades e estratégias, obtemos
                        insights de dados e predição precisa para ajudá-los a melhorar os resultados e as experiências nos seus negócios. </p>
                </div>
            </div>
            </header>
            <!-- Page Content-->
            <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ url_for('static', filename='img/PYTHON1.jpg') }}" alt="..." />
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ url_for('static', filename='img/SQL1.jpg') }}" alt="..." />
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ url_for('static', filename='img/POSTGRESQL1.jpg') }}" alt="..." />
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ url_for('static', filename='img/MySQL1.jpg') }}" alt="..." />
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ url_for('static', filename='img/scikitlearn.jpg') }}" alt="..." />
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ url_for('static', filename='img/git1.jpg') }}" alt="..." />
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ url_for('static', filename='img/flask1.jpg') }}" alt="..." />
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ url_for('static', filename='img/streamlit1.jpg') }}" alt="..." />
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ url_for('static', filename='img/pandas.png') }}" alt="..." />
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ url_for('static', filename='img/numpy1.jpg') }}" alt="..." />
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ url_for('static', filename='img/altair1.jpg') }}" alt="..." />
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ url_for('static', filename='img/matplotlib1.jpg') }}" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; dsiacdata.com.br 2023</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacidade</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Termos</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contato</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>


